// Place all the styles related to the analytics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
div.data-wrapper {
    border: solid 1px darkgrey;
    width: 61vw;
    border-radius: 5px;
    padding: 1rem;
}