// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

div.test-wrapper{
    display: block;
    height: 80vh;
    overflow: scroll;
}

div.artist-banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
}

div.artists{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul.artist-menu{
    border-radius: 3px;
    box-shadow: 3px 3px 3px 3px rgba(250, 250, 250, .4),
        -3px -3px 3px 3px rgba(170, 170, 170, .3);
    overflow: auto;
    height: 40vh;
    width: 100%;

    
}

li.artist-menu-item{
    height: 4rem;
    width: 60vw;

    margin-top: .8rem;
    margin-bottom: .8rem;

    background-color: rgba(230, 230, 230, 1);

    box-shadow: -3px -3px 3px 3px rgba(250, 250, 250, .4),
        3px 3px 3px 3px rgba(170, 170, 170, .3);

    border-radius: 3px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;

}

li.artist-menu-item:hover {
    background-color: rgba(210, 210, 210, 1);   
}

li.artist-menu-item a {
    text-decoration: none;
    color: rgba(80, 80, 80, 1);
}

div.artist-details {
    width: 70vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


img.show-img {
    height: 41vh;
}

div.influences {
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.influences-gallery {
    height: 50vh;
    display: flex;
    flex-direction: row;

}
img.show-influence {
    
    height: 15vh;
    display: flex;
    flex-flow: row wrap;
    margin: 3px;
}

