// Place all the styles related to the AIsLikes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


div.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
h1{
    width: 75vw;
    font-size: 6rem;
    background: linear-gradient(to right,#5A3C89, rgb(255, 86, 34), rgb(212, 58, 81));
}
h1.title-text {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
}
div.form-wrapper{
    overflow: scroll;
}
div.dropdown {
    display: flex;
    flex-direction: row;
    background-color: none;
    height: 10rem;
    width: 65vw;
    justify-content: space-evenly;
    align-items: center;
}
div.like-selector {
    font-size: 1.75rem;
    color: #5B1869;
}
select#is_like_liker_id {
    height: 2.5rem;
    width: 20rem;
    background-color: rgba(250, 250, 250, 1);
    font-size: 1.25rem;
    font-weight: bold;
    

}

select#is_like_liked_id {
    height: 2.5rem;
    width: 20rem;
    background-color: rgba(250, 250, 250, 1);
    font-size: 1.25rem;
    font-weight: bold;

}
div.test{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.test input.button {
    border-radius: 5px;
    height: 3rem;
    width: 10rem;
    font-size: 2rem;
    background-color: rgb(255, 86, 34);
    color: rgba(250, 250, 250, 1);
    box-shadow: 3px 3px 4px 1px rgba(50,50,50, .4);
}



div.test input.button:hover {
    background-color: #5A3C89;
    color: rgba(210, 210, 210, 1);
}

div.test input.button:active {
    background-color: #5B1869;
    box-shadow: 0 5px rgba(50,50,50, .4);
    color: rgba(210, 210, 210, 1);
    transform: translateY(4px);
}

div.comment-banner{
    
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.comment-box {
    height: 4rem;
    width: 60vw;

    margin: 4px;
    background-color: rgba(230, 230, 230, 1);

    border: solid 1px darkgray;
    border-radius: 3px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

div.comment-box:hover {
    background-color: rgba(210, 210, 210, 1);   
}