<h1>AIsLikes#index</h1>

<div>
   <%@is_likes.each do |like|%>
   <div>
      <p><%=link_to "#{like.liker.name} is like #{like.liked.name}", is_like_path(like)%></p>
      <%= button_to "Add a Comment", "/is_likes/#{like.id}/comments/new", :method => :get %>
   </div>
   <%end%>
</div>
