<div class="content-wrapper">
<h1 class="title-text">Is likes</h1>

<div>
   <%@is_likes.each do |like|%>
   <div>
      <p><%=link_to "#{like.liker.name} is like #{like.liked.name}", is_like_path(like)%></p>
      <%= link_to "Add a Comment", like_comment_path(like)%>
   </div>
   <%end%>
</div>
</div>
